body {
  background-color: yellow;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

svg {
  margin-bottom: -1px;
}

.instagram,
.gmail {
  transition: 0.9s;
}

.instagram:hover {
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: white;
}

.whatsapp:hover {
  background: linear-gradient(
    45deg,
    #e5ffcc,
    #1ebea5,
    #00e676,
    #d0e9ea,
    #edf8f5,
    #ffffff
  );
}

.gmail:hover {
  color: white;
  background: linear-gradient(-120deg, #4285f4, #34a853, #fbbc05, #ea4335);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
